<div class="posicio" style="margin-top:2%; position:relative">
	<div class="container" style="padding:2%; position:relative; width: 100%">
		<div class="panel panel-info">
			<div class="panel-heading">
				<div class="panel-title">Llista de Bases</div>
			</div>
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Id</th>
						<th>Titol</th>
						<th>Descripcio</th>
						<th>Usuari Propietari</th>
					</tr>
				</thead>
				<tbody>
					<% y=0;bases.each(function(b) { %>
					<tr class="trBase" onclick=" desplegarMenu(<%=y%> , <%=b.get("id")%>)" style="position:relative;">
						<div id="dropdown" class="dropdown">
							<div class="dropdown-content">
									<a class="aReproduir active switchMouseOver " href="#perfil?<%= b.get("id") %>">Reproduir</a>
									<a class="aEliminar active switchMouseOver " href="#eliminar?<%= b.get("id") %>">Eliminar</a>
							</div>
							<td class="clickOnId"> <%= b.get("id") %></td>
							<td><%= b.get("titol") %></td>
							<td><%= b.get("description")%></td>
							<td class="userid"><%= b.get("UserId")%></td>
						</div>
					</tr>
					<% y++}); %>

				</tbody>
			</table>
		</div>
	</div>
	<script>
		function desplegarMenu(b, baseid) {

			var x=document.getElementsByClassName("dropdown-content");
			x[b].classList.toggle("show");
            //tendria que guardar el tokken en algun lado.
		}
		
	</script>
</div>