<div class="posicio" style="height:100%,width:100%">
	<div class="container" style="margin-top:50px;">
		<div class="panel panel-info">
			<div class="panel-heading">
				<div class="panel-title">Puja una Base</div>
			</div>
			<form role="form" id="introBase" enctype="multipart/form-data>
				<div class="form-group">
					<label for="titolform">Titol</label>
					<input class="form-control" id="titolform" placeholder="Nom de la Base"/>
				</div>
				<div class="form-group" style="width:75%;">
					<label for="descripcioform">Descripcio</label>
					<textarea class="form-control" id="descripcioform" rows="3" placeholder="Entra la descripcio de la base" />
				</div >
				<div class="col-md-4 col-lg-4">
					<input type="file" class="form-control-file" id="urlform">
				</div>
				<div class="col-md-3">
				<button type="submit" class="enviaCanso btn btn-info">Envia</button>
				</div>
			</form>
		 </div>
	</div>
</div>