<div class="posicio" style="height:100%,width:100%">
	<div class="container" style="margin-top:50px;">
		<div class="panel panel-info">
			<div class="panel-heading">
				<div class="panel-title">Informació d'una Base</div>
			</div>
			<form role="form" id="mostraBase">
				<div class="form-group">
					<label for="baseid">ID Base</label>
					<input class="form-control" id="baseid" placeholder="Entra la ID de la Base"/>
				</div>
				<button type="submit" class="enviaBaseMostra btn btn-info">Envia</button>
			</form>
		 </div>
	</div>
</div>