
<div id="buttons" class="posicio" style="margin-top:12%;">
	<div style="float:right;">
		<div>
		<button id="crearBase" class="btn btn-info" type="button" > Play </button>
		</div>
		<div>
		<button id="MostraBases" class="btn btn-info" type="button">Add to Playlist</button>
		</div>
		<div>
		<button id="crearEstil" class="btn btn-info" type="button"> Like</button>
		</div>
		<div>
		<button id="crearEstil" class="btn btn-info" type="button"> Buy</button>
		</div>
	</div>
	<div>
	<form method='post'>
	   <h1>Comment this base:</h1><br />
	  <textarea name='comment' id='comment'  rows="3" cols="150"></textarea><br />

	  <input type='hidden' name='articleid' id='articleid' value='<? echo $_GET["id"]; ?>' />

	  <input type='submit' value='Publish' />  
	  
	</form>
	<div>
		<audio controls> 
			<%var url=window.location.href; var b=url.split("?");%>
			<!--<source src="<%b[1].src%>">-->
		</audio>
	</div>
	</div>
	<div>
	<h3>Comments</h3>
	</div>
</div>