
<div class="posicio" style="height:100%,width:100%">
	<div class="container" style="margin-top:50px;">
		<div class="panel panel-info">
			<div class="panel-heading">
				<div class="panel-title">Crea un Estil</div>
			</div>
			<form role="form" id="introBase">
				<div class="form-group">
					<label for="titolform">Titol</label>
					<input class="form-control" id="titolform" placeholder="Nom de l'Estil"/>
				</div>
				<div class="form-group" style="width:75%;">
					<label for="descripcioform">Descripcio</label>
					<input class="form-control" id="descripcioform" placeholder="Entra la descripcio de l'Estil" />
				</div>
				<button type="submit" class="enviaEstil btn btn-info">Envia</button>
			</form>
		 </div>
	</div>
</div>