<div class="posicio" style="margin-top:12%">
	<div class="container" style="margin-top:50px;">
		<div class="panel panel-info">
			<div class="panel-heading">
				<div class="panel-title">Llista d'Estils</div>
			</div>
			<table class="table table-hover">
				<thead>
				<tr>
					<th>Id</th>
					<th>Titol</th>
					<th>Descripcio</th>
				</tr>
				</thead>
				<tbody>
				<% estils.each(function(b) { %>
				<tr class="trBase" onclick="desplegarMenu()" class="dropbtn" style="position:relative;">
					<div class="dropdown">
						<div id="myDropdown" class="dropdown-content">
							<a id=boto-el href="#eliminar?<%= b.get("id") %>">Eliminar</a>
						</div>
						<td class="clickOnId"> <%= b.get("id") %></td>
						<td><%= b.get("titol") %></td>
						<td><%= b.get("description")%></td>
					</div>
				</tr>
				<% }); %>

				</tbody>
			</table>
		</div>
	</div>
	<script>
		function desplegarMenu() {
			document.getElementById("myDropdown").classList.toggle("show");
		}

		// Close the dropdown if the user clicks outside of it
	</script>
</div>
