body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background: url('../img/background.jpg');
    background-size: 2600px 1300px;
    background-repeat:no-repeat;
}

a {
  color: #00B7FF;
}

a:hover {
text-decoration: none;
color: darkblue;
}
.switchMouseOver li:hover
{
	background-color: blue;
}

.fonsHeader{
background-image: url('../img/headerBackground.jpg');
background-size: cover;
height:25%;
position:relative;
}

#content{
    position:static;
    height:100%;
    width: 100%;
    align-content: center;
}

.container{
    width:100%;
}

.posicio{
	width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(51,51,51,0.7);
    z-index: 10;
	margin: 0;
    background: url('../img/background.jpg');
    background-size: 1920px 1080px;
    background-repeat:no-repeat;
    display: compact;
    font: 13px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
	position:absolute;
    margin-top:12%;
}

.titol
{
    text-align:center;
    color:white;
    text-align: center;
}

.giveMargins{
    margin-left:2%;
    margin-right:2%;
}

/* Header */

#header{
    position:fixed;
    top:0px;
    left:0px;
    margin:0px;
    width:100%;
    height:100%;
}

/*Buscador de bases generic*/

#baseFinder{
    margin: auto;
    position: absolute;
    bottom: 5px;
    width: 100%;
}

#baseFinder_button{
    float: left;
    width: 10%;
    margin-left: 30px;
	margin-bottom:7px;
}

#baseFinder_input{
    float: left;
    width: 60%;
	margin-bottom:5px;
	font-size:20px;
	margin-left:10%;
}

.reproductor{
    position:float;
    margin-left:35%;
}

/*Home*/

.img-circle{
    width:180px;
    margin:5px;
    border-radius: 100%;
}

.btn-inside{
    position:absolute;
    top:-55px;
    left:45px;
    width:100px;
    padding:5px;
    margin:auto;
}

/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
	margin-right: 200px;
	float: right;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.myDropdown {
    position:absolute;
}


/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

#wrapper {
  margin-right: 200px;
}
#col1 {
  float: left;
  width: 100%;
  background-color: #CCF;
}
#col2 {
  float: right;
  width: 200px;
  margin-right: -200px;
  background-color: #FFA;
}
#cleared {
  clear: both;
}