<div id="signupbox" style="padding:50px"
     class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 posicio">
    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="panel-title">Sign Up</div>
            <div style="float:right; font-size: 85%; position: relative; top:-10px"><a href="#signin" class="aSignIn active switchMouseOver">Sign In</a></div>
        </div>
        <div class="panel-body">
            <div id="signupform" class="form-horizontal" role="form">

                <div id="signupalert" style="display:none" class="alert alert-danger">
                    <p>Error:</p>
                    <span></span>
                </div>

                <div class="form-group">
                    <label for="username" class="col-md-3 control-label">Username</label>

                    <div class="col-md-9">
                        <input type="text" class="form-control" name="username" placeholder="Username">
                    </div>
                </div>

                <div class="form-group">
                    <label for="truename" class="col-md-3 control-label">Full Name</label>

                    <div class="col-md-9">
                        <input type="text" class="form-control" name="truename" placeholder="Full Name">
                    </div>
                </div>

                <div class="form-group">
                    <label for="email" class="col-md-3 control-label">Email</label>

                    <div class="col-md-9">
                        <input type="text" class="form-control" name="email" placeholder="Email Address">
                    </div>
                </div>

                <div class="form-group">
                    <label for="password" class="col-md-3 control-label">Password</label>

                    <div class="col-md-9">
                        <input type="password" class="form-control" name="passwd" placeholder="Password">
                    </div>
                </div>
				
				<div class="form-group">
                    <label for="password" class="col-md-3 control-label">Repeat Password</label>

                    <div class="col-md-9">
                        <input type="password" class="form-control" name="reppasswd" placeholder="Repeat Your Password">
                    </div>
                </div>

                <div class="form-group">
                    <!-- Button -->
                    <div class="col-md-offset-3 col-md-9">
                        <button id="btn-signup" type="button" class="btn btn-info"><i class="icon-hand-right"></i> &nbsp
                            Sign Up
                        </button>
                        <!--<span style="margin-left:8px;">or</span>!-->
                    </div>
                </div>

                <div style="border-top: 1px solid #999; padding-top:20px" class="form-group">

                    <div class="col-md-offset-3 col-md-9">
                        <button id="btn-fbsignup" type="button" class="btn btn-primary"><i class="icon-facebook"></i>  
                            Sign Up with Facebook
                        </button>
                    </div>

                </div>


            </div>
        </div>
    </div>


</div>
