<style>
    #infoholder{
        background-color:#0d140e;
        position:relative;
        height:225px;
        padding: 20px;
        margin:-20px;
    }
    #info_img{
        width:160px;
        height:160px;
        background-color:#FFF;
        float:left;
        position:static;
        border-radius: 100%;
    }

    #img_change{
        width:75%;
        height:25px;
        margin:15px;
        margin-top: 60%;
        border-radius: 10px;
        font-size: 11px;
    }

    #info_names,#info_real{
        float:right;
        width:30%;
        margin-top:15px;
        background-color: #D5D5D5;
        padding: 20px;
    }
    #info_real{margin-right:25px;}
    #like{
        position:absolute;
        right:5px;
        bottom:5px;
        height:40px;
    }
    #listholder{
        position:relative;
        top:20px;
        padding: 10px;
        background-color: #0d140e;
    }
    #pestanyes{
        position:absolute;
        top:-5px;
        left:5px;
    }
    .pestanya,#p1,#p2,#p3{
        float:left;
        border-top-left-radius:25px;
        border-top-right-radius:25px;
        padding-left: 15px;
        padding-right: 15px;
    }
    #listcontent{
        position:relative;
        width:100%;
        margin: 5px;
        margin-top: 10px;
        padding:5px;
        background-color:#D5D5D5;
    }

    #perfil{
        background-color: #f5f5f5;
        margin:auto;
        margin-top:10%;
        width:90%;
    }

</style>

<div id="perfil">
    <div id="infoholder">
        <div id="info_img">
            <!-- image holder -->
            <button id="img_change"> New img </button>
        </div>
        <div id="buttonholder">

        </div>
        <div id="info_real">
            <div id="name"><%= user.name %></div>
            <div id="email"><%= user.email %></div>
            <div id="nupload">123</div>
            <div id="nlikes"><%= user.likes %></div>
            <div id="nblikes">123</div>
        </div>
        <div id="info_names">
            <div>Name : </div>
            <div>E-Mail : </div>
            <div>Bases uploaded : </div>
            <div>Likes : </div>
            <div>Total likes of bases: </div>
        </div>
        <button id="like"><3 Like! :-)</button>
    </div>
    <div id="listholder">
        <div id="pestanyes">
            <button class="pestanya" id="p1" type = button>MyBases</button>
            <button class="pestanya" id="p2" type = button>Liked Artists</button>
            <button class="pestanya" id="p3" type = button>Liked Bases</button>
        </div>
        <div id="listcontent">No Content Mate</div>
    </div>
</div>