<div class="fonsHeader navbar-fixed-top">
	<ul class ="giveMargins">
        <ul class="switchMouseOver nav navbar-nav ">
            <li class="active"><a href="#" class="home" >Home</a></li>
            <% if (user && user.username) { %>
            <li><a href="#orders">Orders</a></li>
            <% } %>
        </ul>
	
        <ul class ="switchMouseOver nav navbar-nav navbar-right">
            <% if (user && user.username) { %>
                <li><a href="#profile" class="aMyProfile active switchMouseOver " ><%= user.username %></a></li>
                <li><a href="" class="aLogOut active switchMouseOver " >Log Me Out</a></li>
            <% } else { %>
                <li> <a href='#signup' class="aCreateAccount active switchMouseOver " >Create Account</a></li>
                <li> <a href='#signin' class="aSignIn active switchMouseOver " >Sign In</a></li>
            <% } %>
        </ul>

        <div class="container theme-showcase" role="main">
            <h1 class="titol"><img src="../img/title50px.png" width="548" height="62"></h1>
            <div id="baseFinder"></div>
        </div>

        <% if (!context || context == 'homeNotLogged') { %>
            <form class="navbar-search pull-right dropdown">
				<input id="searchText" type="search" class="search-query dropdown-toggle" placeholder="Search" autocomplete="off">
					<ul class="dropdown-menu"></ul>
				</input>
			</form>
        <% } %>
    </ul>
</div>