<div id="home" class="posicio" >
	<div class="container">
		<div class="jumbotron" style="text-align:center; width:75%; margin:auto; margin-bottom: 2%">
			<h1>
				Opcions
			</h1>
		</div>
		<div class="row" style="width:90%; margin:auto; margin-left:12%">
			<div class="col-sm-2">
				<div>
					<img src="../img/base.png" class="img-circle" alt="Mostrar Bases">
				</div>
				<div style="position:relative;text-align:center;">
					<button id="MostraBases" class="btn btn-info btn-inside" type="button"> Mostrar Bases</button>
				</div>
			</div>
			<div class="col-sm-2">
				<div>
					<img src="../img/base.png" class="img-circle" alt="Crear Base">
				</div>
				<div style="position:relative;text-align:center;">
					<button id="crearBase" class="btn btn-info btn-inside" type="button" style="height:auto;"> Crear Base </button>
				</div>
			</div>
			<div class="col-sm-2">
				<div>
					<img src="../img/cascos.png" class="img-circle" alt="Eliminar Base">
				</div>
				<div style="position:relative;text-align:center;">
					<button id="eliminarBase" class="btn btn-info btn-inside" type="button"> Eliminar Base</button>
				</div>
			</div>
			<div class="col-sm-2">
				<div>
					<img src="../img/base.png" class="img-circle" alt="Mostra Base">
				</div>
				<div style="position:relative;text-align:center;">
					<button id="mostraBase" class="btn btn-info btn-inside" type="button" style="height:auto;"> Mostrar Base </button>
				</div>
			</div>
			<div class="col-sm-2">
				<div>
					<img src="../img/base.png" class="img-circle" alt="Associar Estil">
				</div>
				<div style="position:relative;text-align:center;">
					<button id="associarClaseBase" class="btn btn-info btn-inside" type="button"> Associar Estil</button>
				</div>
			</div>
		</div>
		<div class="row" style="width:90%; margin:auto; margin-left:12%">
			<div class="col-sm-2">
				<div>
					<img src="../img/base.png" class="img-circle" alt="Associar Estil">
				</div>
				<div style="position:relative;text-align:center;">
					<button id="mostrarEstils" class="btn btn-info btn-inside" type="button"> Mostrar Estils</button>
				</div>
			</div>
			<div class="col-sm-2">
				<div>
					<img src="../img/base.png" class="img-circle" alt="Crear Estil">
				</div>
				<div style="position:relative;text-align:center;">
					<button id="crearEstil" class="btn btn-info btn-inside" type="button"> Crear Estil</button>
				</div>
			</div>
			<div class="col-sm-2">
				<div>
					<img src="../img/base.png" class="img-circle" alt="Dessasociar">
				</div>
				<div style="position:relative;text-align:center;">
					<button id="eliminarEstil" class="btn btn-info btn-inside" type="button" style="height:auto;"> Eliminar Estil </button>
				</div>
			</div>
			<div class="col-sm-2">
				<div>
					<img src="../img/base.png" class="img-circle" alt="Dessasociar">
				</div>
				<div style="position:relative;text-align:center;">
					<button id="estilsBase" class="btn btn-info btn-inside" type="button" style="height:auto;"> Estils de base </button>
				</div>
			</div>
			<div class="col-sm-2">
				<div>
					<img src="../img/base.png" class="img-circle" alt="Dessasociar">
				</div>
				<div style="position:relative;text-align:center;">
					<button id="Dessasociar" class="btn btn-info btn-inside" type="button" style="height:auto;"> Desassociar </button>
				</div>
			</div>
		</div>
	</div>
</div>